<pre>
    This Page is to tell about myself and what I have implement this project,
    and I will add every step I will do here ...
    1) I have created the main three component (navbar options: home page, users page & about page).
    2) Home page component contains a two sections, one to add a new user which is a form, and the other 
    one to search for a user by enter the username. 
    3) Users page component contains a data table of each user.
    4) Create a Service for firebase.
    
</pre>
