<div class="text-center">
    <h1 class="title">Welcome to User Manager Application</h1><br>
</div>
<div class="card main-section">
    <div class="card-body add-users" style="padding-top: 5.8px;">
        <span style="color: black; font-size: x-large; ">Add a new User</span><hr>
        <label>Name </label>
        <input type="text"><br><br>
        <label>Email </label>
        <input type="email"><br><br>
        <label>Role</label>
        <input type="text"><br><br>
        <label>Status</label>
        <input type="text"><br><br>
        <label>Creation Date</label>
        <input type="date"><br><br>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (onclick)="addUser();">Add this user</button>

    </div>
    <div class="card-body search-for-user" style="padding-top: 5px;">
          <div class="input-group" style="width: 300px; justify-self: center;">
            <input type="text" class="form-control" placeholder="Type here the Username">
            <button class="btn btn-outline-secondary" style="height: 38px;" type="button" id="button-addon2">Search</button><hr>
          </div>
    </div>
</div>

